# Autotools
/Makefile
/config.h
/config.log
/config.status
/autom4te.cache/

# Build
/debian-package
/msim
/src/Makefile
/src/Makefile.depend
/src/Makefile.depend.prev
*.o

stamp-h

# Documentation
doxygen/
/doc/_build

# IDEs and editors
/.vscode
/.project
/.cproject
/.settings
/.pydevproject

# MacOS
.DS_Store
