body {
	font-size: 11pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 1em 3em 1em 3em;
	color: #000000;
	background: #ffffff;
}

p {
	text-align: justify;
}

emph {
	font-style: oblique;
	font-weight: bold;
}

a {
	color: #0000cc;
	text-decoration: none;
}

a:visited {
	color: #8800cc;
}

a:hover {
	color: #cc00cc;
	text-decoration: underline;
}

a:active {
	color: #ff00cc;
	text-decoration: underline;
}

h1 {
	color: #663;
	text-align: center;
}

h2 {
	color: #663;
	border-bottom: 1px solid #663;
	margin-top: 1.5em;
}

h3 {
	color: #663;
	margin: 2em 0em 0.5em 0em;
}

h4 {
	margin: 1em 0em 0.5em 0em;
}

h4 code {
	font-weight: normal;
}

ul#table_of_contents {
	margin: 0;
	padding: 0;
}

ul#table_of_contents li {
	list-style-type: none;
}

code {
	color: #aa0000;
}

code strong {
	font-weight: bold;
	color: #990000;
}

table {
	border: 1px dotted #000000;
	border-collapse: collapse;
}

th {
	border: 1px solid #99ffff;
	padding: 1em;
	background: #eeffff;
}

td {
	border: 1px dotted #000000;
	padding: 1em;
	vertical-align: top;
}

pre.cmd {
	border-left: 0.3em solid #ccf;
	padding-left: 0.2em;
	background-color: #f0f0ff;
}

pre.c {
	border-left: 0.3em solid #ccf;
	padding-left: 0.2em;
	background-color: #f0f0ff;
}

pre.c .lnr {
	color: #880;
	background-color: #ddd;
	border-right: 1px solid #888;
	margin-right: 0.3em;
}

pre.c .comment {
	color: #088;
}

pre.c .preproc {
	color: #820;
}

pre.c .keyword {
	color: #808;
	font-weight: bold;
}

span.key {
	background-color: #ffa;
	border: thin solid #dd6;
	margin: 0.2em 0.2em 0.2em 0.2em;
	padding: 0 0.3em 0 0.3em;
}

caption {
	background-color: #ffc;
	font-weight: bold;
}


emph.ax1 {
	display: none;
	color: gray;
}

emph.ax2 {
}
