name: build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y xutils-dev libreadline-dev curl bats
        curl -L -o libpcut.deb https://github.com/vhotspur/pcut/releases/download/v0.0.1/libpcut_0.0.1_amd64.deb
        sudo apt-get install ./libpcut.deb

    - name: configure
      run: ./configure

    - name: make
      run: make

    - name: Show version
      run: ./msim --version

    - name: Check versions
      run: ./contrib/self-version-check.sh

    - name: Run tests
      run: make test
