name: Clang format linter
on:
  push: {}
  pull_request: {}

jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Check C source formatting with clang-format
      # Do not forget to update the clangFormatVersion below too!
      uses: DoozyX/clang-format-lint-action@v0.20
      with:
        clangFormatVersion: 20
